body {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
}

.btn-sm {
  color: #1ab2a8;
  border-color: #1ab2a8;
  border-radius: 4px;
  line-height: 2;
  background-color: white;
  font-weight: bolder;
}

.btn-secondary {
  color: #ac49bd;
  border-radius: 4px;
  line-height: 1.5;
  background-color: white;
  font-weight: bolder;
}

.city-name {
  border-radius: 4px;
  line-height: 2;
  border-color: #ffab30;
  font-weight: bolder;
  color: #ffab30;
}

h2 {
  color: #ff3467;
}

p {
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  padding: 0;
}

.card {
  border-radius: 4px;
  display: block;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px 60px;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}

.weather {
  display: block;
  max-width: 600px;
  border-radius: 4px;
}

.container {
  border-radius: 20px;
  max-width: 600px;
  margin: 30px auto 0 auto;
  padding: 30px;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.forecast {
  margin: 5px auto;
}

.weather-icon {
  font-size: 48px;
  color: #455a64;
}

.current-icon {
  font-size: 80px;
  color: #455a64;
}

.day {
  font-weight: bolder;
}

.today {
  font-weight: bolder;
  color: #ff3467;
}

.terms {
  color: #ac49bd;
  text-transform: capitalize;
}

.github-link {
  font-size: 12px;
  text-align: center;
  margin: 5px auto auto auto;
}

.current-weather {
  margin: 25px auto 35px auto;
  max-width: 600px;
}

.search-form {
  width: 100%;
  border-radius: 15px;
  border-color: #1ab2a8;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #1f6f8b;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  top: -32px;
  font-size: 16px;
}

.icon-float-felt {
  height: 60px;
  width: 60px;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.weather-temperature .active {
  color: #ff3467;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.overview {
  margin: 0 auto;
}
